/* root permite que o css identifique variáveis */
:root {
    --bg-button: white;
    --border-button: solid 1px #888;
}

/* passamos as variáveis do root como parâmetro de css */
.button {
    font-size: 1.4rem;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
}

.button:active {
    background-color: #ccc;
}

.button.double {
    grid-column: span 2;
}

.button.triple {
    grid-column: span 3;
}

.button.operation {
    background-color: #fa8231;
    color: #FFF;
}

.buttorn.operation:active{
    background-color: #fa8231cc;
}